.sign-up {
  margin-top: -20px;
  margin-bottom: 220px;
  height: 60vh;
  min-height: 700px;
  background-color: rgb(211, 211, 211);
}

.box {
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #191919;
  text-align: center;
  transition: 0.25s;
  margin-top: 150px;
  opacity: 80%;
  border-radius: 20px;
  height: 620px;
}
  
.box input[type="text"],
  
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2a8adac2;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
  
.box h1 {
  color: rgb(211, 211, 211);
  text-transform: uppercase;
  font-weight: 500;
}
  
.box input[type="text"]:hover,
  
.box input[type="password"]:hover {
  border-color: whitesmoke;
}
  
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 30px auto;
  text-align: center;
  border: 2px solid rgb(211, 211, 211);
  padding: 20px 40px;
  outline: none;
  color: rgb(211, 211, 211);;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
  
.box input[type="submit"]:hover {
  background: #535353;
}

#mail {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2a8adac2;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
  
#sub {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid whitesmoke;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}